<app-header (featureSelected)="onNavigate($event)"></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-recipes *ngIf="pageLoaded === 'recipes'"></app-recipes>
      <app-shopping-list *ngIf="pageLoaded !== 'recipes'"></app-shopping-list>
    </div>
  </div>
</div>